:root{

    --text-white-default: whitesmoke;
    --color-article     : #e4e4e4   ;
    --color-primary     : #000e3a   ;
    --color-secondary   : #008787   ;
    --color-emphasis    : #ff5f00   ;
    --link-highlight    : #d70087   ;

}