@import "colors.css";

/*Headers*/
header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*General*/
#quasar{
    height: 5rem;
    width: auto;
    transform: rotate(45deg);
}
div [class^="embed-responsive"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
picture img{
    width: 100%;
    height: auto;
}
.videoBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*Footers*/
footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.footerInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
}
#socials-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}
.copyrightInfo{
    font-size: 0.75rem;
    margin: 0% !important;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img{
    height: 2rem;
    width: auto;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/*Links*/
a{
    color: var(--tex-white-default);
}
a:hover{
    color: var(--link-highlight) !important;
    text-decoration: underline;
}
footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
article{
    background-color: var(--color-article) ;
}